<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to 'All Restaurants', restaurants_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add Restaurant", new_restaurant_path, class: "nav-link" %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
